{% extends 'landing/base.html' %} {% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-10 col-sm-20 text-center">
            <h1 class="display-2">
                <font color="black">Welcome to Bloggram !!</font>
            </h1>
            <p class="mt-3 lead">
                <font color="">Publish your passions your way. Whether you'd like to share your knowledge, experiences or the latest news!</font>
            </p>
            <p class="mt-3 lead">
                <font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Post Blogs, Read Blogs, Follow people who interest you, <b>Go get an account now !</b>
                </font>
            </p>
            <div class="d-flex justify-content-center mt-5">
                <a href="{% url 'account_login' %}" class="btn px-5 py-2 btn-light">Log In</a>
                <a href="{% url 'account_signup' %}" class="btn px-5 py-2 btn-dark">Register</a>
            </div>
            <br>
            <br>
            <br>

            <!-- <section id="about" class="about">
                <div class="container">

                    <div class="section-title" data-aos="fade-up" style="font-size: 32px;
                    font-weight: bold;
                    text-transform: uppercase;
                    position: relative;
                    margin: 0 15px 10px 0;
                    color: #222222;">
                        <h2>
                            <font color="black">Our Team</font>
                        </h2>
                    </div>


                   <div class="container" data-aos="fade-up" data-aos-delay="300">

                        <div class="row">
                            <div class="col-md-4">

                                <span>
                                    <p style="text-align: center"><img src="../../../media/uploads/team/kshitiz.jpg"
                                            height="200px" width="200px" style="border-radius: 15%;">

                                    </p>
                                </span>

                                <h3 style="text-align: center;">
                                    <font color="white">Kshitiz Raj</font>
                                </h3>
                                <p class="wt" style="margin: 10px; text-align: center">
                                    <font color="white"> 2nd Year <br> B.Tech in ECE <br> IEM, KOLKATA</font>
                                </p>

                            </div>
                            <div class="col-md-4">
                                <span>
                                    <p style="text-align: center">
                                        <img src="../../../media/uploads/team/harshhh.jpg" height="200px" width="200px"
                                            style="border-radius: 15%;">
                                    </p>
                                </span>

                                <h3 style="text-align: center">
                                    <font color="white">Harsh Mittal</font>
                                </h3>
                                <p class="wt" style="margin: 10px; text-align: center">
                                    <font color="white">2nd Year <br> B.Tech in CSE <br> IEM, KOLKATA</font>
                                </p>

                            </div>
                            <div class="col-md-4">
                                <span>
                                    <p style="text-align: center">
                                        <img src="../../../media/uploads/team/jayesh.jpg" height="200px" width="200px"
                                            style="border-radius: 15%;">
                                    </p>
                                </span>

                                <h3 style="text-align: center">
                                    <font color="white">Jayesh Kumar Shaw</font>
                                </h3>
                                <p class="wt" style="margin: 10px; text-align: center">
                                    <font color="white"> 2nd Year <br> B.Tech in IT <br> IEM, KOLKATA </font>
                                </p>

                            </div>
                        </div>
                    </div> 
                </div>





        </div>
        </section> -->
        </div>

    </div>
    <footer id="footer" style="background-color: whitesmoke;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  align-self:baseline;
  color: #222222;
  font-size: 14px;">
        <div class="container">
            <div class="row d-flex align-items-center">

                <div class="copyright" style="color: black; ">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright
                    @
                    <strong>KHJ-21</strong>. All Rights Reserved
                </div>
                <div class="credits">

                </div>

            </div>
        </div>

    </footer>
</div>
{% endblock content %}